<div class="header">
  <div class="title-header">
    <span class="logo">News for travel logo</span>&nbsp;&nbsp;旅行に役立つニュースを厳選してお届け！
  </div>
  <div class="category-header">
    <div class="category-tabs clearfix">
      <ul>
        <a href="#latest" class="category-tab"><li>新着ニュース</li></a>
        <a href="#pickup" class="category-tab"><li>ピックアップ</li></a>
        <a href="#campain" class="category-tab"><li>キャンペーン</li></a>
        <a href="#traffic" class="category-tab"><li>トラフィック</li></a>
        <a href="#local" class="category-tab"><li>ローカルエリア</li></a>
        <a href="#colum" class="category-tab"><li>コラム</li></a>
        <a href="#servay" class="category-tab"><li>調査・統計</li></a>
      </ul>
    </div>
    <div class="search-box">
    </div>
  </div>
</div><!-- .header -->
