$font-family-sans-serif: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
$font-size-base: 12px;
$line-height-base: 1.9;

$base-bg-color: #ecf0f2;
$base-font-color: #333333;
$reversal-font-color: #ffffff;

$content-bg-color: #d8dfe4;
$news-bg-color: #ffffff;

$caution-border-color: #fc0000;
$caution-bg-color: $news-bg-color;
$caution-header-font-color: #ffffff;

$main-color: #e84e40;
$accent-color: #009eef;
